@charset "UTF-8";
*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  /*兼容移动端主流浏览器*/
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /*清除移动端点击高亮效果*/
}

/*清除浮动*/
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}

ul {
  list-style: none;
}

/* 字体图标 */
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 540px;
  margin: 0 auto;
}

.figgy {
  position: relative;
  width: 100%;
  max-height: 667px;
  background: url(../images/feizhu-bgc.png) no-repeat top left/cover;
  background-size: 100% 100%;
}

.figgy .btn-router-box {
  position: absolute;
  width: 100%;
  top: 60%;
  text-align: center;
}

.figgy .btn-router-box a {
  font-size: 0.66667rem;
  border: 0.08rem #ffeab1 solid;
  color: #ffffff;
  background: #ffb900;
  margin: 0 0.05333rem;
  padding: 0 1.06667rem;
  border-radius: 0.74667rem;
}
