@charset "UTF-8";
*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  /*兼容移动端主流浏览器*/
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /*清除移动端点击高亮效果*/
}

/*清除浮动*/
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}

body {
  background: #f7f7f7 url(../images/background.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 5000px;
}

.container {
  padding-left: 0.32rem;
  padding-right: 0.32rem;
}

/* 顶部导航 */
.top-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-nav img {
  display: block;
}

.top-nav .feizhu-logo {
  width: 1.25333rem;
  height: 1.25333rem;
}

.top-nav .feizhu-logo img {
  width: 100%;
  height: 0.53333rem;
  margin-top: 0.53333rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top-nav .feizhu-user {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.8rem;
  height: 0.8rem;
}

.top-nav .feizhu-user img {
  width: 80%;
  margin: 0 auto;
}

/* 一个搜索栏用a做的 */
.search {
  height: 1.17333rem;
}

.search a {
  display: block;
  height: 0.85333rem;
  margin-left: 0.32rem;
  margin-right: 0.32rem;
  padding-left: 0.32rem;
  border-top-left-radius: 1.33333rem;
  border-bottom-right-radius: 1.33333rem;
  border-bottom-left-radius: 1.33333rem;
  background-color: #fff;
  line-height: 0.85333rem;
}

.search a img {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  vertical-align: sub;
}

.search span {
  color: #666666;
  font-size: 0.34667rem;
}

/* 热搜 */
.hot-search {
  height: 0.96rem;
}

.hot-search span {
  color: #ffffff;
  padding-left: 0.48rem;
}

.hot-search a {
  border: 0px solid black;
  border-radius: 24px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.05333rem 0.16rem;
}

/*轮播图  */
.layout {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.layout .banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
}

.layout .banner ul:first-child {
  width: 1000%;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
}

.layout .banner ul:first-child li {
  width: 10%;
  float: left;
}

.layout .banner ul:first-child li a {
  display: block;
  width: 100%;
}

.layout .banner ul:first-child li a img {
  width: 100%;
  display: block;
}

/* 控制小点点 */
.banner ul:last-child {
  position: absolute;
  bottom: 0;
  z-index: 10;
  right: 0.8rem;
}

.banner ul:last-child li {
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0;
}

.banner ul:last-child li:first-child {
  margin-left: 0;
}

.banner ul:last-child li.now {
  background: #ffd62b;
}

/* 回家买票 */
.ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.24rem;
}

.ticket a {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.ticket a img {
  display: block;
  width: 1.86667rem;
  height: 1.52rem;
  margin: 0 auto;
  margin-top: 6px;
}

.ticket a span {
  font-size: 0.32rem;
  color: #333333;
}

.ticket a .ticket-posit {
  position: absolute;
  top: 8px;
  right: 36%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 1.7rem;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(orange), to(#ff5100));
  background-image: linear-gradient(to right, orange, #ff5100);
  border-radius: 50px;
  padding: 2px 6px;
}

/* 旅游 */
.travel {
  background-color: #fff;
  border-radius: 15px;
}

.travel .travel-text-1 {
  margin-top: 0.25333rem;
  font-size: 0.37333rem;
  color: #333333;
}

.travel .travel-text-2 {
  display: inline-block;
  font-size: 0.32rem;
  color: #666666;
  margin-top: 0.26667rem;
}

.travel-point {
  background-color: #ffdd00;
  border-radius: 0.24rem;
  padding: 0 0.21333rem;
}

.travel-1,
.travel-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.57333rem;
  text-align: center;
}

.travel-1 a,
.travel-2 a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

.travel-1 div,
.travel-2 div {
  overflow: hidden;
}

.travel-1 a:nth-child(4),
.travel-2 a:nth-child(4) {
  border-right: none;
}

.travel-3 {
  height: 1.32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 设置字体的文字大小颜色 */
}

.travel-3 img {
  vertical-align: middle;
  height: 0.66667rem;
  margin-left: 0.32rem;
}

.travel-3 span {
  color: #333333;
  font-size: 0.34667rem;
  margin-left: 0.29333rem;
}

.travel-3 a:nth-child(1) {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  border-right: 1px solid #f4f4f4;
}

.travel-3 a:nth-child(1) img {
  width: 2.05333rem;
}

.travel-3 a:nth-child(2) {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.travel-3 a:nth-child(2) img {
  width: 1.49333rem;
}

/* 飞猪app下载 */
.fliggy-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  margin-top: 0.32rem;
  height: 1.92rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

.fliggy-app img {
  width: 1.28rem;
  height: 1.28rem;
  margin-left: 0.32rem;
}

.fliggy-app div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0.32rem;
}

.fliggy-app div h3 {
  font-size: 0.4rem;
  font-weight: 700;
  color: #333333;
}

.fliggy-app span {
  font-size: 0.32rem;
  color: #333333;
}

.fliggy-app > span {
  display: block;
  width: 2rem;
  height: 0.64rem;
  line-height: 0.64rem;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.01%, rgba(255, 231, 0, 0.99)), to(rgba(255, 201, 0, 0.99)));
  background-image: linear-gradient(to right, rgba(255, 231, 0, 0.99) 0.01%, rgba(255, 201, 0, 0.99) 100%);
  border-radius: 15px;
  text-align: center;
  margin-right: 0.64rem;
}

/* 优惠券 */
.coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 0.32rem;
}

.coupon a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.coupon a h3 {
  font-size: 0.4rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 0.16rem;
}

.coupon a span,
.coupon a p {
  font-size: 0.32rem;
  color: #333333;
}

.coupon a img {
  display: block;
  width: 3.12rem;
  height: 1.93333rem;
  margin-top: 0.21333rem;
}

/* 超级新发现 */
.discovery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6.21333rem;
  border-radius: 6px;
}

.discovery-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url(../images/discovery-backg-2.webp) no-repeat;
  background-size: 100% 100%;
}

.discovery-left a {
  display: block;
  height: 100%;
}

.discovery-left a > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.17333rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discovery-left a > div img {
  width: 1.33333rem;
  height: 0.45333rem;
  margin-left: 0.24rem;
}

.discovery-left a > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0.13333rem;
}

.discovery-left a > div span {
  font-size: 0.37333rem;
  color: #ffc900;
}

.discovery-left a > div span:last-child {
  font-size: 0.32rem;
}

.discovery-left a > span {
  display: block;
  font-size: 0.37333rem;
  font-weight: 600;
  color: #ffffff;
  margin-left: 0.24rem;
  margin-right: 0.64rem;
  line-height: 0.53333rem;
}

.discovery-left a p {
  margin-top: 0.24rem;
  margin-left: 0.24rem;
}

.discovery-left a p span {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffe700), to(#ffc900));
  background-image: linear-gradient(to right, #ffe700, #ffc900);
  border-radius: 6px;
  padding: 0 6px;
}

.discovery-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.discovery-sale {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url(../images/discovery-background.webp);
  background-size: 100% 100%;
}

.discovery-hotel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url(../images/discovery-background-2.webp);
  background-size: cover;
  background-position: center;
}
