@import "common.scss";

$baseFont:37.5;

/* 顶部logo */
.logo {
    width: 80rem/$baseFont;
    height: 80rem/$baseFont;
    background: url(../images/taobao-logo.png) no-repeat;
    background-size: 100%;
    margin: 47rem/$baseFont 147.5rem/$baseFont 0;
}

/* 用户名和密码 */
.user-and-pwd {
    margin: 0 23rem/$baseFont;

    .am-list-item {
        position: relative;
        width: 100%;
        margin: 1.2rem 0 0;
        border-bottom: 1px solid #ff5000;
    }

    input {
        outline: none;
        font-size: inherit;
        margin: 0 0 .17333333rem .12rem;
        border: 0;
        color: #333;
        font-size: 12rem/$baseFont;
    }

    i {
        display: none;
        float: right;
        color: #b5b5b5;
        margin-top: 10rem/$baseFont;
    }
}


/* 登陆方式 */

.login-way {
    margin: 22rem/$baseFont 23rem/$baseFont 0;

    @include clearfix();

    a {
        font-size: 14rem/$baseFont;
        color: #555555;

        &:nth-child(1) {
            float: left;
        }

        &:nth-child(2) {
            float: right;
        }
    }
}

.login-btn {
    margin: 22rem/$baseFont 23rem/$baseFont 0;

    button {
        background: -webkit-linear-gradient(left, #ff9000, #ff5000) no-repeat;
        color: #fff;
        box-shadow: 0 0.08rem 0.16rem #f7c7b1;
        font-size: .42666667rem;
        width: 100%;
        height: 1.2rem;
        line-height: 1.2rem;
        border-radius: .6rem;
        text-align: center;
        border: 0;
        outline: 0;
    }
}