@charset "UTF-8";
*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  /*兼容移动端主流浏览器*/
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /*清除移动端点击高亮效果*/
}

/*清除浮动*/
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}

ul {
  list-style: none;
}

/* 字体图标 */
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 盒子统一样式 */
body {
  background: #f7f7f7 url(../images/sign-bgc.png) no-repeat;
  background-size: contain;
  padding: 0rem 0.32rem;
}

header {
  margin-top: 2.26667rem;
  margin-bottom: 0.32rem;
}

header span {
  font-size: 0.4rem;
  color: rgba(255, 255, 255, 0.5);
}

header i {
  font-size: 0.4rem;
  color: rgba(255, 255, 255, 0.5);
}

header b {
  font-size: 1.28rem;
  color: #ffffff;
}

.top-info-row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-info-row-1 i {
  font-size: 0.4rem;
}

.top-info-row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-info-row-2 span {
  color: #ffffff;
}

.top-info-right-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 0.34667rem;
  color: #664f43;
  background: url(../images/top-info-right-content.png) no-repeat;
  background-size: cover;
  height: 1.22667rem;
  width: 3.25333rem;
}

.top-info-right-content .top-info-right-content-1 {
  position: absolute;
  top: 0.26667rem;
  left: 0.26667rem;
  border-radius: 100%;
  overflow: hidden;
}

.top-info-right-content .top-info-right-content-2 {
  position: absolute;
  top: 0.34667rem;
  right: 0.32rem;
}

.top-info-right-content img {
  width: 0.82667rem;
  height: 0.82667rem;
}

.top-info-row-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.32rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.26667rem;
}

.top-info-row-4 strong {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #ffffff99;
}

.top-info-row-4 span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 0.64rem;
  margin: 0 0.08rem;
  text-align: center;
}

.top-info-row-4 a {
  font-size: 0.32rem;
  color: #ffffff;
}

/* 统一 */
h3 {
  color: #333333;
  font-size: 0.48rem;
}

/* 签到领里程 大盒子*/
.sign-journey {
  background-color: #ffffff;
  margin-top: 0.26667rem;
  padding: 0.32rem;
  border-radius: 0.16rem;
}

.sign-journey p {
  font-size: 0.32rem;
  color: #abaeb3;
}

/* 签到图 */
.sign-journey-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.53333rem;
}

.sign-journey-mid div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-journey-mid p {
  margin-top: 0.13333rem;
}

.sign-journey-mid img {
  width: 0.96rem;
  height: 0.96rem;
}

/* 立即签到 */
.sign-journey-footer {
  text-align: center;
  margin-top: 0.53333rem;
  border-radius: 0.16rem;
}

.sign-journey-footer span {
  display: inline-block;
  background-color: #ffdd00;
  padding: 0 0.8rem;
  border-radius: 0.64rem;
}

.sign-journey-footer a {
  font-size: 0.4rem;
  color: #333333;
}

/* 天天开奖 */
.reward-day {
  background-color: #ffffff;
  margin-top: 0.26667rem;
  padding: 0.32rem;
  border-radius: 0.16rem;
}

.reward-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.2;
}

.reward-header h3 {
  margin-right: 0.16rem;
}

.reward-header span,
.reward-header a,
.reward-header i {
  font-size: 0.32rem;
  color: #999999;
}

.reward-header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reward-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.26667rem;
}

.reward-mid a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reward-mid img {
  width: 100%;
  border-radius: 0.16rem;
}

.reward-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.26667rem;
}

.reward-footer-title h4 {
  font-size: 0.34667rem;
  color: #0f131a;
}

.reward-footer-title p {
  font-size: 0.32rem;
  color: #919499;
}

.reward-footer-part {
  font-size: 0.37333rem;
  text-align: center;
}

.reward-footer-part div span {
  background-color: #fd0;
  color: #0f131a;
  border-radius: 0.64rem;
  padding: 0 0.32rem;
}

.reward-footer-part span {
  font-size: 0.32rem;
  color: #919499;
  margin-top: 0.13333rem;
}

.task-journey {
  background-color: #ffffff;
  margin-top: 0.26667rem;
  padding: 0.32rem;
  border-radius: 0.16rem;
}

.task-journey-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.26667rem;
}

.task-journey-content img {
  width: 1.28rem;
  height: 1.28rem;
}

.task-journey-content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-journey-content-row h3 {
  font-size: 0.4rem;
  color: #333333;
}

.task-journey-content-row span {
  font-size: 0.32rem;
  color: #999999;
}

.task-journey-content-row .task-journey-content-row-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-journey-content-row .task-journey-content-row-content h3 {
  margin-bottom: 0.13333rem;
}

.task-journey-content-row .task-journey-btn a {
  background-color: #ffdd00;
  border-radius: 0.4rem;
  font-size: 0.32rem;
  color: #333333;
  padding: 0.05333rem 0.21333rem;
}

/*兑超值权益 */
.supervalu {
  background-color: #ffffff;
  margin-top: 0.26667rem;
  padding: 0.32rem;
  border-radius: 0.16rem;
}

.supervalu .supervalu-content {
  margin-top: 0.53333rem;
}

.supervalu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.supervalu li {
  background-color: #fff2eb;
  border-radius: 0.32rem;
  margin-top: 0.16rem;
  padding: 0.21333rem 0.10667rem;
  border: 1px solid #ffe4cf;
}

.supervalu h4 {
  font-size: 0.37333rem;
  color: #ff401a;
  margin-top: 0.26667rem;
}

.supervalu p,
.supervalu span {
  font-size: 0.32rem;
  color: #333333;
  margin-top: 0.24rem;
}

.supervalu span {
  display: block;
  color: #ffffff;
  background-color: #ff401a;
  border-radius: 0.48rem;
  padding: 0.05333rem 0.13333rem;
}

/* 玩游戏赢里程 */
.play-games {
  background-color: #ffffff;
  margin-top: 0.26667rem;
  padding: 0.32rem;
  border-radius: 0.16rem;
  padding: 0;
}

.play-games .play-games-title {
  padding: 0 0.32rem;
}

.play-games h3 {
  height: 1.54667rem;
  line-height: 1.54667rem;
}

.play-games-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.play-games-content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.68rem;
  padding: 0.32rem;
}

.play-games-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.play-games-content .play-games-content-text1 {
  font-size: 0.34667rem;
  color: #333333;
}

.play-games-content .play-games-content-text2 {
  font-size: 0.32rem;
  color: #999999;
}

.play-games-content img {
  width: 1.17333rem;
  height: 1.17333rem;
}

/* 里程兑换 */
.exchange-journey {
  background-color: #ffffff;
  margin-top: 0.26667rem;
  padding: 0.32rem;
  border-radius: 0.16rem;
  font-size: 0.32rem;
}

.exchange-journey a {
  font-size: 0.32rem;
}

.exchange-journey-content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.4rem;
  border: 1px solid #ffe1c6;
  background-color: #fff2eb;
  margin: 0.26667rem 0.26667rem;
}

.exchange-journey-content-left {
  color: #ff401a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.4rem;
}

.exchange-journey-content-left i {
  font-style: normal;
}

.exchange-journey-content-left div:nth-child(1) span {
  font-size: 0.66667rem;
  font-weight: 700;
}

.exchange-journey-content-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.exchange-journey-content-middle b {
  font-size: 0.34667rem;
  font-weight: 400;
  color: #0f131a;
}

.exchange-journey-content-middle span {
  font-size: 0.32rem;
  color: #919499;
}

.exchange-journey-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.10667rem;
  height: 1.76rem;
  border-left: 1px dashed #ffd7b3;
}

.exchange-journey-content-right a {
  color: #ffffff;
  background-color: #ff401a;
  border-radius: .64rem;
  text-align: center;
  line-height: .64rem;
  font-weight: 700;
  padding: 0.05333rem 0.4rem;
}

.exchange-journey-content-right span {
  display: block;
  color: #919499;
  margin-top: 0.13333rem;
}

div[class^=activity] {
  background-color: #ffffff;
  margin-top: 0.26667rem;
  padding: 0.32rem;
  border-radius: 0.16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div[class^=activity] a {
  display: block;
  font-size: 0.37333rem;
  color: #333333;
}

div[class^=activity] img {
  width: 0.10667rem;
  height: 0.18667rem;
}

div.activity2 {
  background-color: transparent;
  margin: 0.64rem 0 1.33333rem;
}
